@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
	font-family: 'Nerko One', system-ui;
	font-weight: 400;
	font-style: normal;
	background-color: rgb(32, 32, 32);
	color: white;
}

.wrap h1 {
	font-weight: 500;
	font-size: 58px;
}

.wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.reset {
	font-family: ;
}

.reset {
	border-radius: 10px;
	width: 100px;
	height: 50px;
	font-size: 20px;
	background-color: rgb(62, 62, 62);
	color: aliceblue;
	font-family: 'Nerko One', system-ui;
}

.status {
	font-size: 24px;
}
